.home-page {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 48px;
  color: #333;
  margin-top: 30px;
  font-weight: 700;
}

.slider-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
}

.slider-img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.country-list-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.country-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out;
}

.country-card:hover {
  transform: scale(1.05);
}

.country-flag {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.country-card-body {
  padding: 20px;
}

.country-card-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.country-card-region {
  font-size: 16px;
  color: #777;
}

.continent-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.continent-filter button {
  margin: 0 10px;
  background-color: transparent;
  border: 2px solid #007bff;
  color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.continent-filter button.active,
.continent-filter button:hover {
  background-color: #007bff;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

.welcome-section {
  display: flex;
  margin: 2px 0;
}

.welcome-text {
  font-size: 36px;
  font-weight: bold;
  margin: 0 20px;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #000;
  margin-left: 42px;
  margin-top: 10px;
  padding-top: 2px;
}

.line2 {
  flex: 1;
  height: 1px;
  background-color: #000;
  margin-top: 150px;
  padding-top: 2px;
} 

.home-icons {
  justify-content: center;
  color: rgb(34, 31, 31);
  display: flex;
}

.home-icon{
  border-radius: 50%;
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
}

.home-icon :hover {
  background-color: #e0e0e0;
}


/* Responsive Design */
@media (max-width: 768px) {
  .home-page h1 {
    font-size: 36px;
  }

  .country-card {
    margin-bottom: 15px;
  }

  .country-card-title {
    font-size: 18px;
  }

  .country-card-region {
    font-size: 14px;
  }

  .continent-filter button {
    padding: 8px 15px;
    font-size: 14px;
  }

  .social-icons a {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #007bff;
  }
}
